.landingPage-container{
  margin-top: 28px;
    margin-left: 80px;
    margin-right: 80px;
}
.landingPage-section{
  background-color: #002F49F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  height: 952px;
  border-radius: 20px;
  text-align: center;
}
.landingPage-section .landing-header{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0;
}
.landingPage-section .landing-header h6{
  background: linear-gradient(#0D3245 100%, #1B526F 100%);
  width: 310px;
  height: 42px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 19.07px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #F8FBFD;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}
.landingPage-section .landing-header h3{
  font-weight: 700;
  font-size: 50px;
  line-height: 68.09px;
  width: 963px;
  color: #F8FBFD;
  margin-top: 5px;
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
}
.landingPage-section .landing-header h5{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27.24px;
  width: 833px;
  height: 54px;
  color: #F8FBFD;
}
.landingPage-section .btn-container button{
  display: flex;
  align-items: center;
  width: 329px;
  height: 52px;
  gap: 10px;
  border-radius: 33px;
  border: none;
  padding: 15px 10px;
  background-color: #F8FBFD;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  justify-content: center;
  margin-bottom: 5rem;
}

.school-list-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4rem;
}
.school-list-container h6{
  font-size: 20px;
  line-height: 27.24px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  color: #041822;
  margin-bottom: 0;
}
.school-list-container .schoolList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.school-list-container .schoolList .school-container{
  display: flex;
  align-items: center;
  gap: 9px;
  margin-top: .7rem;
}
.school-list-container .schoolList .school-container p{
  font-weight: 600;
  font-size: 20px;
  line-height: 32.68px;
  color: #59676E;
}

/* part 2 of landing part*/
.landing-part-2-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5rem;
  margin-top: 12rem;
}
.landing-part-2-container .part-1{
  width: 550px;
  display: flex;
  flex-direction: column;
}
.landing-part-2-container .part-1 h3{
  line-height: 49px;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: .8rem;
}
.landing-part-2-container .part-1 p{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #59676E;
  text-align: justify;
}