@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.container-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}
.header-1{
    background-color: #E2E9F6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 100%;
    border: 1px solid #E2E9F6;
}
.header-1 .div-container{
    display: flex;
    align-items: center;
    gap: 14px;
}
.header-1 .div-container h6{
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
    font-family: 'Open Sans', sans-serif;
    color: #4B8BBE;
}
.header-1 .div-container p{
    font-weight: 600;
    font-size: 18px;
    line-height: 24.51px;
    font-family: 'Open Sans', sans-serif;
    color: #002F49F2;
}

.header-2{
    display: flex;
    background-color: #4B8BBE;
    height: 88px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    
}
.header-2 .div-container{
    display: flex;
    align-items: center;
    gap: 53px;
    width: 100%;
}
.header-2 .div-container .section-1{
    display: flex;
    align-items: center;
    width: 258px;
}

.header-2 .section-1 img{
    width: 43px;
    height: 43px;
}
.header-2 .section-1 p{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 46.74px;
    line-height: 56.98px;
    color: #F8FBFD;
}
.header-2 .section-1 span{
    font-weight: 400;
}

.header-2 nav{
    width: 445px;
    
}
.header-2 nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 55px;
}
.header-2 nav ul li{
    font-family: 600;
    font-size: 16px;
    line-height: 21.79px;
    font-family: 'Open Sans', sans-serif;
    color: #F8FBFD;
    transition: cursor .3s ease-in-out, list-style .3s ease-in-out;
}
.header-2 nav ul li:hover{
    cursor: pointer;
    list-style: disc;
}
.header-2 nav ul .Highlight{
    list-style: disc;
}

.header-2 .section-3{
    display: flex;
    align-items: center;
    gap: 31px;
    width: 395px;
}

.header-2 .section-3 .login{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 98px;
    height: 52px;
    border: none;
    color: #F8FBFD;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    transition: curosr .3s ease-in;
}
.header-2 .section-3 .login:hover{
    cursor: pointer;
}

.header-2 .section-3 .trial{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 276px;
    height: 52px;
    border-radius: 33px;
    padding: 15px 10px;
    gap: 8px;
    background-color: #002F49F2;
    font-family: 'Open Sans', sans-serif;
    color: #F8FBFD;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    border: none;
    transition: curosr .3s ease-in;
}
.header-2 .section-3 .trial:hover{
    cursor: pointer;
}
