@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* pre loading page */
.prelandingPage {
  background-color: var(--background-color-secondary);
  padding: 0;
  margin: 0;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.forPreLandingPageIcon {
  animation: slideInIcon 2.5s ease-out forwards;
}

/* Define the animation */
@keyframes slideInIcon {
  0% {
    transform: translateY(100%); 
    opacity: 0;
  }
  80% {
    transform: translateY(-40%); 
    opacity: 1;
  }
  60% {
    transform: translateY(20%); 
    opacity: 1; 
  }
  40% {
    transform: translateY(-30%); 
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.forPreLandingPageIcon img {
  max-width: 100%; 
  height: auto;
}

.forPreLandingPageLogo{
  display: flex;
  flex-direction: column;
  position: relative;
}
.forPreLandingPageLogo h1{
  font-family: 'Montserrat';
  font-size: 207.46px;
  line-height: 180.16px;
  font-weight: 700;
  color: var(--secondary-color);
}
.forPreLandingPageLogo h1 .spanLogo{
  font-weight: 400;
}
/* .light-effect {
  position: absolute; 
  width: 100%; 
  height: 5px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%); 
  bottom: -10px; 
  animation: slide 2.5s forwards; 
} */

/* @keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%); 
  }
 
} */
/* landing page header */
.landingPageHeader{
  
  text-align: center;
  background-color: var(--background-color-secondary);
}
.sectionLandingPageHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 128px;
  padding: 20px;
}
.titleContainer{
  display: flex;
  align-items: center;
}
.titleContainer img{
  width: 46px;
}
.titleContainer h4{
  font-size: 50px;
  font-weight: 700;
  font-family: 'Montserrat';
  line-height: 60.95px;
  color: var(--secondary-color);
}
.titleContainer h4 span{
  font-weight: 400;
}
.sectionLandingPageHeader nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 35px;
}
.sectionLandingPageHeader nav ul li{
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: var(--secondary-color);
}
.landingPageHeaderBtn{
  display: flex;
  align-items: center;
  gap: 25px;
}
.landingPageHeaderBtn .login{
  width: 144px;
  height: 52px;
  border-radius: 33px;
  border: 1px;
  padding: 15px 10px;
  gap: 10px;
  background-color: var(--background-color-secondary) ;
  border: 1px solid var(--border-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--secondary-color);
}
.landingPageHeaderBtn .create-account{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 215px;
  height: 52px;
  border-radius: 33px;
  padding: 15px 10px;
  background-color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
/* for device with a max width of 780px (tablets and below) */
@media (max-width: 768px){
  .prelandingPage {
    /* flex-direction: column; */
    padding: 10px;
    
  }

  .forPreLandingPageIcon img {
    height: 100px;
    width: 100px;
  }

  .forPreLandingPageLogo h1{
    font-size: 50px;
    line-height: 1.2;
  }


  .sectionLandingPageHeader{
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .titleContainer h4{
    font-size: 24px;
    line-height: 1.4;
  }

  .sectionLandingPageHeader nav ul {
    flex-direction: column;
    gap: 15px;
    margin-top: 18px;
  }

  .landingPageHeaderBtn{
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }

  .landingPageHeaderBtn .login,
  .landingPageHeaderBtn .create-account {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .forPreLandingPageLogo h1{
    font-size: 36px;
  }

  .titleContainer img {
    width: 30px;
  }

  .titleContainer h4{
    font-size: 20px;
  }

  .landingPageHeaderBtn .login,
  .landingPageHeaderBtn .create-account {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 1200px) {
  .titleContainer {
    gap: 10px;
  }
  .titleContainer img {
    width: 50px;
  }
  .logoText {
    font-size: 28px;
  }
  .sectionLandingPageHeader {
    flex-direction: column;
    padding: 15px;
    text-align: center;
  }
  .sectionLandingPageHeader nav ul {
    flex-direction: column;
    gap: 15px;
  }
  .landingPageHeaderBtn {
    flex-direction: column;
    gap: 15px;
  }

  .landingPageHeaderBtn .login,
  .landingPageHeaderBtn .create-account {
    padding: 12px;
    font-size: 16px;
  }
}




/* landing page */
