/* pre loading page */
.prelandingPage {
    background-color: var(--background-color-secondary);
    padding: 2rem;
    margin: 0;
    height: 100vh; 
    overflow: hidden;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .forPreLandingPageIcon {
    animation: slideInIcon 2s ease-out forwards;
  }
  
  /* Define the animation */
  @keyframes slideInIcon {
    0% {
      transform: translateY(100%); 
      opacity: 0;
    }
    80% {
      transform: translateY(-40%); 
      opacity: 1;
    }
    60% {
      transform: translateY(20%); 
      opacity: 1; 
    }
    40% {
      transform: translateY(-30%); 
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .forPreLandingPageIcon img {
    max-width: 14rem;
    height: auto;
  }
  
  .forPreLandingPageLogo{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .forPreLandingPageLogo h1{
    font-family: 'Montserrat';
    font-size: 207.46px;
    line-height: 180.16px;
    font-weight: 700;
    color: var(--secondary-color);
  }
  .forPreLandingPageLogo h1 .spanLogo{
    font-weight: 400;
  }

  /* for device with a max width of 780px (tablets and below) */
  @media all and (max-width:1300px) {
    .forPreLandingPageIcon img{
        width: 11rem;
    }
    .forPreLandingPageLogo h1{
        font-size: 180px;
    }
  }

  @media all and (max-width:1173px) {
    .forPreLandingPageLogo h1{
        font-size: 140px;
    }
  }
@media (max-width: 961px){
    .forPreLandingPageLogo h1{
        font-size: 120px;
    }
   
}
@media all and (max-width:848px) {
    
      .forPreLandingPageLogo h1{
        font-size: 100px;
        line-height: 1.2;
      }
}
@media all and (max-width:767px) {
    .forPreLandingPageIcon img {
        height: 100px;
        width: 100px;
      }
      .forPreLandingPageLogo h1{
        font-size: 50px;
        line-height: 1.2;
      }
}

@media (max-width: 480px) {
    .forPreLandingPageLogo h1{
      font-size: 36px;
    }
    .forPreLandingPageIcon img {
        height: 80px;
        width: 80px;
      }
}