@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: rgba(217, 217, 217, 1);
  --secondary-color: rgba(226, 233, 246, 1);
  --background-color: rgba(255, 255, 255, 1);
  --background-color-secondary:rgba(0, 47, 73, 1);
  --font-size-base: 16px;
  --font-family: Inter;
}
body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.landingPage{
  background-color: var(--background-color-secondary) ;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.forLandingPageLogo h1{
  font-family: 'Montserrat';
  font-size: 207.46px;
  line-height: 180.16px;
  font-weight: 700;
  color: rgba(248, 251, 253, 1);
  /* animation: fromRight 10s ease-in-out forwards; */
}
.forLandingPageLogo h1 .spanLogo{
  font-weight: 400;
}
/* .forLandingPageIcon img{
  animation: fromUp 5s ease-in-out forwards;
}
@keyframes fromRight {
  0%{
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fromUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
} */